
@import 'header.sass'

*
  font-family: 'Noto Sans JP', sans-serif
  letter-spacing: .1em

html, body
  width: 100%
  height: 100%
  margin: 0

figure
  margin: 0

a
  text-decoration: none
  color: #444

// FlexBox
.flex
  display: flex

.flex-fix
  flex: 0 0 auto

.flex-stretch
  flex: 1 1 auto
  
